body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
input[type="text"] {
  padding: 10px 12px;
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  margin-bottom: 8px;
}
h1,
.status {
  margin-bottom: 10px;
}
#todolist li {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  column-gap: 10px;
  align-items: center;
  position: relative;
  margin: 10px;
}
#todolist li::before {
  content: "->";
  position: absolute;
  left: -20px;
  font-weight: bold;
}
button {
  padding: 10px 12px;
  font-weight: bold;
  background-color: rgb(139, 33, 7);
  color: white;
  border: none;
  border-radius: 6px;
}
#upd {
  background-color: #614105;
}
form button {
  background-color: rgb(7, 65, 139);
}
