body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
#data-table {
  border: 1px solid black;
  table-layout: fixed;
  border-collapse: collapse;
}
#data-table th,
td {
  border: 1px solid black;
  padding: 0;
}
#data-table th {
  padding: 0px 5px;
}
.cell-content {
  height: 150px;
  padding: 10px;
  overflow-y: auto;
  box-sizing: border-box;
}
.of {
  scrollbar-width: none;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.buttons button {
  padding: 10px 12px;
  border-radius: 6px;
  border: none;
  background-color: rgb(138, 138, 138);
  margin: 10px;
}
tr:nth-child(even) {
  background-color: rgb(219, 219, 219);
}
tr:nth-child(odd) {
  background-color: rgb(180, 179, 179);
}
img {
  width: 100px;
}
#pagination-buttons {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 6px;
}
.search-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-input-container h1 {
  margin: 0;
}
.search-input-container input {
  padding: 10px 16px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
}
