body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.inc {
  padding: 10px 12px;
  font-size: 0.85em;
  background-color: rgb(7, 65, 139);
  color: white;
  border: none;
  border-radius: 6px;
}
.dec {
  padding: 10px 12px;
  font-size: 0.85em;
  background-color: rgb(75, 56, 3);
  color: white;
  border: none;
  border-radius: 6px;
}
.reset {
  padding: 10px 12px;
  font-size: 0.85em;
  background-color: rgb(163, 38, 7);
  color: white;
  border: none;
  border-radius: 6px;
}
button {
  margin: 4px;
}
h1 {
  margin-bottom: 10px;
  margin-top: 10px;
}
